In [2]:
# NBA Dashboard

In [3]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('../Data/Player.csv')
data.head()

,season,lg,player,player_id,age,team,pos,g,gs,mp,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,trp_dbl
0,2025,NBA,Precious Achiuwa,achiupr01,25.0,NYK,C,57,10.0,1170.0,...,101.0,216.0,317.0,55,47.0,42.0,45.0,81.0,379,0.0
1,2025,NBA,Steven Adams,adamsst01,31.0,HOU,C,58,3.0,794.0,...,166.0,161.0,327.0,66,22.0,28.0,54.0,60.0,225,0.0
2,2025,NBA,Bam Adebayo,adebaba01,27.0,MIA,C,78,78.0,2674.0,...,185.0,564.0,749.0,337,98.0,53.0,161.0,162.0,1410,1.0
3,2025,NBA,Ochai Agbaji,agbajoc01,24.0,TOR,SG,64,45.0,1739.0,...,61.0,181.0,242.0,98,58.0,30.0,54.0,125.0,667,0.0
4,2025,NBA,Santi Aldama,aldamsa01,24.0,MEM,PF,65,16.0,1660.0,...,94.0,322.0,416.0,188,52.0,29.0,71.0,76.0,811,0.0